<mat-card class="view-card">
  <mat-card-header class="card-title">
    <mat-card-title>
      Edit Student Data
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>

    <!-- Reactive Form -->
    <form [formGroup]="editStudentForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <mat-form-field>
          <label>Full Name</label>
          <input matInput placeholder="Student's full name" formControlName="fullname" minlength="3" maxlength="50">
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fullname']?.touched && editStudentForm.controls['fullname']?.hasError('required')">Full
            name is required</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fullname']?.touched && editStudentForm.controls['fullname']?.hasError('minlength')">Full
            name requires mininum 3 characters</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fullname']?.touched && editStudentForm.controls['fullname']?.hasError('maxlength')">Full
            name is requires maximum 50 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <label>Father's name</label>
          <input matInput placeholder="Student's father's name" formControlName="fathername" minlength="3" maxlength="50">
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fathername']?.touched && editStudentForm.controls['fathername']?.hasError('required')">Father's
            name is required</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fathername']?.touched && editStudentForm.controls['fathername']?.hasError('minlength')">Father's
            name requires mininum 3 characters</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['fathername']?.touched && editStudentForm.controls['fathername']?.hasError('maxlength')">Father's
            name is requires maximum 50 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <label>Mother's name</label>
          <input matInput placeholder="Student's mother's name" formControlName="mothername" minlength="3" maxlength="50">
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['mothername']?.touched && editStudentForm.controls['mothername']?.hasError('required')">Mother's
            name is required</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['mothername']?.touched && editStudentForm.controls['mothername']?.hasError('minlength')">Mother's
            name requires mininum 3 characters</mat-error>
          <mat-error class="error-text"
            *ngIf="editStudentForm.controls['mothername']?.touched && editStudentForm.controls['mothername']?.hasError('maxlength')">Mother's
            name is requires maximum 50 characters</mat-error>
        </mat-form-field>
      </div>
      <div class="form-group">
        <!-- <mat-form-field> -->
        <label>Gender</label>

        <input type="radio" formControlName="gender" value="female">Female
        <input type="radio" formControlName="gender" value="male">Male
        <input type="radio" formControlName="gender" value="transgender">Transgender
        <!-- </mat-form-field> -->
      </div>
      <div class="form-group">
        <mat-form-field>
          <label>Age</label>
          <input matInput placeholder="Student's age" formControlName="age">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <label>Standard</label>
          <mat-select aria-placeholder="Stundet's standard" formControlName="std">
              <mat-option value="01">01</mat-option>
              <mat-option value="02">02</mat-option>
              <mat-option value="03">03</mat-option>
              <mat-option value="04">04</mat-option>
              <mat-option value="05">05</mat-option>
              <mat-option value="06">06</mat-option>
              <mat-option value="07">07</mat-option>
              <mat-option value="08">08</mat-option>
              <mat-option value="09">09</mat-option>
              <mat-option value="10">10</mat-option>
              <mat-option value="11">11</mat-option>
              <mat-option value="12">12</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field >
          <label>Contact Number</label>
          <mat-icon matSuffix>phone</mat-icon>
          <input matInput placeholder="1234567890" formControlName="phone_number"
               required minlength="10" maxlength="10">
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['phone_number']?.touched && editStudentForm.controls['phone_number']?.hasError('required')">Contact Number
              is required</mat-error>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['std']?.touched && editStudentForm.controls['std']?.hasError('minlength')">Contact Number
              requires mininum 10 digits</mat-error>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['std']?.touched && editStudentForm.controls['std']?.hasError('maxlength')">Contact Number
              requires maximum 10 digits</mat-error>
      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field >
          <label>Email</label>
          <input matInput placeholder="pat@example.com" formControlName="email" 
              required minlength="10">
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['email']?.touched && editStudentForm.controls['email']?.hasError('required')">Email
              is required</mat-error>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['email']?.touched && editStudentForm.controls['email']?.hasError('minlength')">Email
              requires mininum 15 characters</mat-error>
          <!-- <mat-error class="error-text"
              *ngIf="editStudentForm.controls['email']?.touched && editStudentForm.controls['email']?.hasError('maxlength')">Email  is required maximum 50 characters</mat-error> -->
      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field >
          <label>Address</label>
          <textarea matInput placeholder="Enter student's address" formControlName="address"
               required minlength="5">
              <mat-error class="error-text"
              *ngIf="editStudentForm.controls['address']?.touched && editStudentForm.controls['address']?.hasError('required')">Address is required</mat-error>
              <mat-error class="error-text"
              *ngIf="editStudentForm.controls['address']?.touched && editStudentForm.controls['address']?.hasError('minlength')">Address requires mininum 5 characters</mat-error>
          </textarea>

      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field >
          <label>City</label>
          <input matInput placeholder="Enter student's city" formControlName="city" 
              required>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['city']?.touched && editStudentForm.controls['city']?.hasError('required')">City
              is required</mat-error>

      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field >
          <label>State</label>
          <input matInput placeholder="Enter student's state" formControlName="state" 
              required>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['state']?.touched && editStudentForm.controls['state']?.hasError('required')">State
              is required</mat-error>

      </mat-form-field>
  </div>
  <div class="form-group">
      <mat-form-field >
          <label>Zipcode</label>
          <input matInput placeholder="123456" formControlName="zipcode"
               required minlength="6" maxlength="6">
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['zipcode']?.touched && editStudentForm.controls['zipcode']?.hasError('required')">Zipcode
              is required</mat-error>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['std']?.touched && editStudentForm.controls['std']?.hasError('minlength')">Zipcode
              requires mininum 6 digits</mat-error>
          <mat-error class="error-text"
              *ngIf="editStudentForm.controls['std']?.touched && editStudentForm.controls['std']?.hasError('maxlength')">Zipcode
              requires maximum 6 digits</mat-error>
      </mat-form-field>
  </div>

    </form>
    <div class="form-group">
      <button  mat-raised-button  style="color:#ffff; background-color: rgb(97, 77, 112);" type="submit" [disabled]="!editStudentForm.valid" (click)="onSubmit()">Edit Student</button>
    </div>

  </mat-card-content>
</mat-card>