.view-card {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-size: cover;
    margin: 20px;
    text-align: left;
    // max-width: 400px;
    margin-bottom: 8px;
}

mat-grid-tile {
    background: rgb(255, 255, 255);
    // justify-content: flex-start;
    // text-align: left;
    // align-items: flex-start;
}
mat-grid-tile{
    text-align: left;

}

.card-content {
    text-align: left;
}